/* =================== FOOTER =================== */
footer {
  background: #fff5f0;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--line);
  flex-wrap: wrap;
}

.footer-links {
  display: flex;
  gap: 50px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 5px 0;
}

.footer-logo {
  font-weight: bold;
  color: var(--accent);
  font-size: 1.2rem;
}